In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from upsetplot.plotting import plot
from matplotlib_venn import venn2

In [2]:
#mm10 = pd.read_csv('./data/genome_windows_30000.bed', sep ='\t', header =None)

In [3]:
random_regions = pd.read_csv('./results/240115_DARDEG/randomregions/dardegs_0.bed', sep = ('\t'))
len(random_regions)#.head(30)

8093

In [4]:
random_regions

     chrom      start        end  grp  grplength
0     chr1    3180000    3210000    1     510000
1     chr1    3210000    3240000    1     510000
2     chr1    3240000    3270000    1     510000
3     chr1    3270000    3300000    1     510000
4     chr1    3300000    3330000    1     510000
...    ...        ...        ...  ...        ...
8088  chr9  122550000  122580000   76     150000
8089  chr9  122580000  122610000   76     150000
8090  chr9  122610000  122640000   76     150000
8091  chr9  122640000  122670000   76     150000
8092  chr9  122670000  122700000   76     150000

[8093 rows x 5 columns]

In [6]:
df = random_regions.copy()

# Group by 'chrom' and keep only unique values in 'grp'
unique_groups = df.groupby('chrom')['grp'].unique()
unique_groups

chrom
chr1     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr10    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr11    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr12    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr13    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr14    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr15    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr16    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr17    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr18    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr19    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr2     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr3     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr4     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr5     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr6     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr7     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr8     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
chr9     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
Name: grp, dtype: object

In [7]:
df = random_regions.copy()

# Count unique `grp` values for each chromosome
unique_grp_count_per_chrom = df.groupby('chrom')['grp'].nunique()

# Sum up all unique counts
total_unique_grps = unique_grp_count_per_chrom.sum()

# Print results
print("Unique group counts per chromosome:")
print(unique_grp_count_per_chrom)
print("\nTotal unique group count across all chromosomes:", total_unique_grps)

Unique group counts per chromosome:
chrom
chr1     100
chr10     59
chr11     76
chr12     50
chr13     50
chr14     57
chr15     63
chr16     54
chr17     55
chr18     40
chr19     29
chr2     112
chr3      67
chr4      84
chr5      88
chr6      66
chr7      73
chr8      71
chr9      76
Name: grp, dtype: int64

Total unique group count across all chromosomes: 1270

In [3]:
sd_unique_contacts = pd.read_csv('SD.minus.WT.1_selected.SD_dist.5000000_NPMI.0.2_deltaZ.2.bg2.gz', sep=('\t'))
wt_unique_contacts = pd.read_csv('SD.minus.WT.1_selected.WT_dist.5000000_NPMI.0.2_deltaZ.2.bg2.gz', sep=('\t'))

In [4]:
wt_unique_contacts

,chrom_x,start_x,end_x,chrom_y,start_y,end_y,deltaz,Z.x,Z.y,NPMI.x,NPMI.y,bindist,comparison,direction
0,chr1,3060000,3090000,chr1,3510000,3540000,-2.210074,-0.773316,1.436758,0.311811,0.497721,450000,SD.minus.WT,WT
1,chr1,3060000,3090000,chr1,4380000,4410000,-2.243611,0.474563,2.718173,0.303085,0.490679,1320000,SD.minus.WT,WT
2,chr1,3060000,3090000,chr1,4440000,4470000,-2.007294,-0.013873,1.993421,0.255992,0.419569,1380000,SD.minus.WT,WT
3,chr1,3090000,3120000,chr1,4380000,4410000,-2.506578,-0.188284,2.318294,0.248644,0.459095,1290000,SD.minus.WT,WT
4,chr1,3090000,3120000,chr1,4440000,4470000,-2.288341,0.405746,2.694087,0.294231,0.485528,1350000,SD.minus.WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374292,chr19,60900000,60930000,chr19,61170000,61200000,-2.071313,-1.565216,0.506097,0.297580,0.467652,270000,SD.minus.WT,WT
374293,chr19,60930000,60960000,chr19,60990000,61020000,-2.258650,-0.570879,1.687772,0.543437,0.685337,60000,SD.minus.WT,WT
374294,chr19,61020000,61050000,chr19,61080000,61110000,-2.467835,-1.214675,1.253161,0.501724,0.656612,60000,SD.minus.WT,WT
374295,chr19,61080000,61110000,chr19,61170000,61200000,-4.336540,-2.591128,1.745412,0.356340,0.656599,90000,SD.minus.WT,WT
374296,chr19,61110000,61140000,chr19,61170000,61200000,-3.017255,-2.118793,0.898462,0.443145,0.633169,60000,SD.minus.WT,WT

In [5]:
sd_unique_contacts

,chrom_x,start_x,end_x,chrom_y,start_y,end_y,deltaz,Z.x,Z.y,NPMI.x,NPMI.y,bindist,comparison,direction
0,chr1,3000000,3030000,chr1,3150000,3180000,2.366982,0.802028,-1.564954,0.548127,0.355099,150000,SD.minus.WT,SD
1,chr1,3000000,3030000,chr1,3840000,3870000,2.090161,1.749072,-0.341089,0.463253,0.271179,840000,SD.minus.WT,SD
2,chr1,3000000,3030000,chr1,5220000,5250000,2.248591,0.508097,-1.740494,0.245113,0.043745,2220000,SD.minus.WT,SD
3,chr1,3000000,3030000,chr1,5280000,5310000,2.076845,0.285061,-1.791784,0.224097,0.036589,2280000,SD.minus.WT,SD
4,chr1,3000000,3030000,chr1,6900000,6930000,2.790287,1.508111,-1.282177,0.265863,0.039881,3900000,SD.minus.WT,SD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384187,chr19,60090000,60120000,chr19,61020000,61050000,2.082349,-0.964831,-3.047181,0.203886,-0.000076,930000,SD.minus.WT,SD
384188,chr19,60150000,60180000,chr19,60990000,61020000,2.637853,-0.234354,-2.872207,0.283129,0.030026,840000,SD.minus.WT,SD
384189,chr19,60150000,60180000,chr19,61020000,61050000,2.420681,-0.610063,-3.030743,0.244733,0.012352,870000,SD.minus.WT,SD
384190,chr19,60240000,60270000,chr19,60960000,60990000,2.130323,0.530311,-1.600012,0.373557,0.168140,720000,SD.minus.WT,SD
384191,chr19,60240000,60270000,chr19,61020000,61050000,2.050252,-0.243918,-2.294170,0.292252,0.091493,780000,SD.minus.WT,SD

In [8]:
# Function to process a DataFrame by creating two new columns 'window1' and 'window2'
def process(df):
    # Concatenate values from specific columns to create a string in the format 'col1:col2-col3'
    df['window1'] = df.iloc[:, 0].astype(str) + ':' + df.iloc[:, 1].astype(str) + '-' + df.iloc[:, 2].astype(str)
    df['window2'] = df.iloc[:, 3].astype(str) + ':' + df.iloc[:, 4].astype(str) + '-' + df.iloc[:, 5].astype(str)

    # Select specific columns ('window1', 'window2', 'NPMI.x', 'NPMI.y') and create a new DataFrame
    df_m = df[['window1', 'window2', 'NPMI.x', 'NPMI.y']]
    return df_m

# Apply the process function to a DataFrame wt_unique_contacts and sd_unique_contacts
wt_unique_contacts_m = process(wt_unique_contacts)
sd_unique_contacts_m = process(sd_unique_contacts)

# Function to process a DataFrame by creating a new column 'window'
def process2(df):
    # Concatenate values from specific columns to create a string in the format 'col1:col2-col3'
    df['window'] = df.iloc[:, 0].astype(str) + ':' + df.iloc[:, 1].astype(str) + '-' + df.iloc[:, 2].astype(str)

    # Select only the 'window' column and create a new DataFrame
    df_window = df[['window']]
    return df_window

In [9]:
wt_unique_contacts_m

                        window1                  window2    NPMI.x    NPMI.y
0          chr1:3060000-3090000     chr1:3510000-3540000  0.311811  0.497721
1          chr1:3060000-3090000     chr1:4380000-4410000  0.303085  0.490679
2          chr1:3060000-3090000     chr1:4440000-4470000  0.255992  0.419569
3          chr1:3090000-3120000     chr1:4380000-4410000  0.248644  0.459095
4          chr1:3090000-3120000     chr1:4440000-4470000  0.294231  0.485528
...                         ...                      ...       ...       ...
374292  chr19:60900000-60930000  chr19:61170000-61200000  0.297580  0.467652
374293  chr19:60930000-60960000  chr19:60990000-61020000  0.543437  0.685337
374294  chr19:61020000-61050000  chr19:61080000-61110000  0.501724  0.656612
374295  chr19:61080000-61110000  chr19:61170000-61200000  0.356340  0.656599
374296  chr19:61110000-61140000  chr19:61170000-61200000  0.443145  0.633169

[374297 rows x 4 columns]

In [13]:
# Function to find intersecting contacts between specified genomic regions and contact data
def contacts_in_region(region):
    """
    Takes a table with Ensemble IDs and intersects it with the chosen data to get the Ensemble 
    IDs for the respective regions, removes the duplicated genes from the final table.
    """
    import pybedtools  # Library for working with genomic intervals
    import pandas as pd

    # Process the input DataFrame to create a 'window' column
    regions_window = process2(region) 
    regions_windows_array = regions_window['window'].values
    print(regions_windows_array)
    # Query the contact DataFrames to find rows where both 'window1' and 'window2' are in the specified regions
    regions_vs_wt_contacts_DEGs = wt_unique_contacts_m.query("(window1 in @regions_windows_array) & (window2 in @regions_windows_array)")
    regions_vs_sd_contacts_DEGs = sd_unique_contacts_m.query("(window1 in @regions_windows_array) & (window2 in @regions_windows_array)")

    # Optionally save the results to files
    # regions_windows_vs_wt_contacts_DEGs.to_csv('./randon_regions_Test/' + 'test' + '.txt', sep='\t', index=False, header=True)
    # regions_windows_vs_sd_contacts_DEGs.to_csv('./randon_regions_Test/' + 'test2' + '.txt', sep='\t', index=False, header=True)

    # Return the resulting DataFrames
    return regions_vs_wt_contacts_DEGs, regions_vs_sd_contacts_DEGs

In [14]:
test1, test2 = contacts_in_region(random_regions)
test1

['chr1:3180000-3210000' 'chr1:3210000-3240000' 'chr1:3240000-3270000' ...
 'chr9:122610000-122640000' 'chr9:122640000-122670000'
 'chr9:122670000-122700000']

                        window1                  window2    NPMI.x    NPMI.y
6          chr1:3210000-3240000     chr1:3330000-3360000  0.296984  0.482275
12         chr1:3210000-3240000     chr1:7170000-7200000  0.011881  0.215740
13         chr1:3330000-3360000     chr1:3360000-3390000  0.566080  0.677356
17         chr1:3480000-3510000     chr1:3510000-3540000  0.565230  0.670426
18         chr1:3510000-3540000     chr1:3570000-3600000  0.515300  0.634702
...                         ...                      ...       ...       ...
373965  chr19:57120000-57150000  chr19:57150000-57180000  0.589277  0.731650
373968  chr19:57180000-57210000  chr19:59070000-59100000  0.155897  0.312052
373971  chr19:57270000-57300000  chr19:57480000-57510000  0.318489  0.477239
373987  chr19:57450000-57480000  chr19:58950000-58980000  0.027616  0.216410
373988  chr19:57450000-57480000  chr19:59010000-59040000  0.081330  0.270359

[6533 rows x 4 columns]

In [17]:
import os
folder_path = './results/240115_DARDEG/randomregions/'

# Iterate through the files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".bed"):
        # Construct the full path to the .bed file
        bed_file_path = os.path.join(folder_path, filename)

        # Load the .bed file into a DataFrame (replace with your actual data loading code)
        bed_df = pd.read_csv(bed_file_path, sep = ('\t'))

        # Perform the intersection operation
        regions_windows_vs_wt_contacts_DEGs, regions_windows_vs_sd_contacts_DEGs = contacts_in_region(bed_df)

        # Construct the output filename with .txt extension
        output_filename = os.path.splitext(filename)[0] + '.txt'

        # Save the results to the specified path
        output_path = './contacts_in_regions_20240115'
        output_wt_path = os.path.join(output_path, 'wt_' + output_filename)
        output_sd_path = os.path.join(output_path, 'sd_' + output_filename)

        regions_windows_vs_wt_contacts_DEGs.to_csv(output_wt_path, sep='\t', index=False, header=True)
        regions_windows_vs_sd_contacts_DEGs.to_csv(output_sd_path, sep='\t', index=False, header=True)